*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE DI DEBUG --------------------------------- */


/* HEADER ------------------------------------------ */


/* MAIN -------------------------------------------- */


/* FOOTER ------------------------------------------ */


/* REGOLE DI CSS ----------------------------------- */


/* HEADER ------------------------------------------ */


/* MAIN -------------------------------------------- */


/* FOOTER ------------------------------------------ */


/* ANIMAZIONI -------------------------------------- */

