*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE DI DEBUG --------------------------------- */

body.debug{
    background-color: #000000;
}

/* HEADER ------------------------------------------ */

.debug header{
    /* background-color: brown; */
}
.debug .horizontal-list li{
    /* background-color: #FFFFFF; */
}


/* MAIN -------------------------------------------- */

.debug .main-container{
    /* background-color: aqua; */
}

.debug .main-content{
    /* background-color: chocolate; */
}

.debug .main-content-name{
    /* background-color: #FFFFFF ; */
}
/* FOOTER ------------------------------------------ */

.debug footer{
    /* background-color: burlywood; */
}

.debug .col{
    /* background-color: coral; */
}

/* REGOLE DI CSS ----------------------------------- */

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.horizontal-list li{
    display: inline-block;
    text-align: center;
    height: 100%;
    margin: 2.5px 7.5px;
}


.text-green{
    color: #00FF00;
}


/* HEADER ------------------------------------------ */

header{
    background-color: #000000;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
}

.header-buttons{
    margin: 5px 5px 0 0;
}

.header-buttons li{
    margin-left: 2px;
}

header .button{
    background-color: #4A4A4A;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px;
    border-radius: 6px;
}

header .button i{
    margin: 2px;
    font-size: 0.9em;
}




/* MAIN -------------------------------------------- */



.main-container{
    background-color: #000000;
    width: 100%;
    height: calc((100vh) - 150px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    transform: translateY(80px);
}

.main-content{
    background-image: url(https://picsum.photos/240/120);
    margin: 2.5px;
    height: 120px;
    width: 240px;
    position: relative;
}

.main-content-name{
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 2.5px;
    font-size: 12px;
}

.main-content-name i{
    margin: 2px;
}

/* FOOTER ------------------------------------------ */

footer{
    font-family: sans-serif;
    background-color: #222222;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
}

.col{
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-button-container{
    display: flex;
    align-items: center;

}

footer button{
    background: none;
    border: none;
	padding: 0;
    color: #FFFFFF;
}

.footer-button-master{
    display: inline-block;
}

.footer-button-master i{
    font-size: 24px;
}



.footer-button-select{
    display: inline-block;
    font-size: 8px;
    margin-left: 14px;
}

.footer-button-end{
    background-color: #4A4A4A;
    color: #FF0000;
    font-size: 10px;
    padding: 0 20px;
}

/* ANIMAZIONI -------------------------------------- */

.button:hover{

}
